@{
  Layout = "_Layout";
}
@model Library.Models.Book

<h1>Book Details</h1>
<br>
<h3><b>@Html.DisplayFor(model => model.Description)</b></h3>
<br>

@if(@Model.Authors.Count == 0)
{
  <h4>This book does not belong to any authors</h4>
}
else
{
  <h4>Authors the book belongs to:</h4>
  
  @foreach(var join in Model.Authors)
  {
    <h3><b>@join.Author.Name</b></h3>
    @using (Html.BeginForm("DeleteAuthor", "Books"))
    {
      @Html.Hidden("joinId", @join.AuthorBookId)
      <input type="submit" value="Delete"/>
    }
    <br>
  }
}
<br>
<h4>@Html.ActionLink("Check Out this book", "Create", "Reservations")</h4>
<h4>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</h4>
<h4>@Html.ActionLink("Add an Author", "AddAuthor", new { id = Model.BookId })</h4>
<h4>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</h4>
<h4>@Html.ActionLink("Back to list", "Index")</h4>
