@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Book>

@* <h1>Books for @User.Identity.Name</h1> *@
<h1>Your Book Selection</h1>
<br>

@if (Model.Any())
{
  
    @foreach (Book book in Model)
    {
      <h3>@Html.ActionLink($"{book.Description}", "Details", new { id = book.BookId })</h3>
    }
  
} 
else
{
  <h3>No books have been added yet!</h3>
}
<br>
<h4>@Html.ActionLink("Make Reservation", "Create", "Reservations")</h4>
<h4>@Html.ActionLink("Add new book", "Create")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>