  
@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Reservation>
<h1>Book Check Out Overview</h1>
<br>

@if (@Model.Count == 0)
{
  <h3>No reservations have been added yet!</h3>
}

@foreach (Reservation newReservation in Model)
{
  <h3>@Html.ActionLink($"{newReservation.DateTime}", "Details", new { id = newReservation.DateTime}, new { id = newReservation.ReservationId }) | Author: @Html.ActionLink($"{newReservation.Author.Name}", "Details", "Authors", new { id = newReservation.AuthorId }) |  Book: @Html.ActionLink($"{newReservation.Book.Description}", "Details", "Books", new { id = newReservation.BookId }) | Copies: @Html.ActionLink($"{newReservation.Quantity}", "Details", new { id = newReservation.Quantity})</h3>
 
}

<br>
<h4>@Html.ActionLink("Check Out", "Create")</h4>
<h4>@Html.ActionLink("Delete List", "DeleteAll")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>