@{
  Layout = "_Layout";
}

@model Library.Models.Author;

<h1>Author Details</h1>
<br>
<h3>@Html.DisplayNameFor(model => model.Name): <b>@Html.DisplayFor(model => model.Name)</b></h3>

@if(@Model.Books.Count == 0)
{
  <h3>This author does not contain any books</h3>
}
else
{
  <h3>Books under this author:</h3>
  <br>
  @foreach(var join in Model.Books)
    {
      <h3><b>@join.Book.Description</b></h3>
      
    }
  
}
<br>
<h4>@Html.ActionLink("Add new book", "Create", "Books")</h4>
<h4>@Html.ActionLink("Back to authors", "Index")</h4>
<h4>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</h4>
<h4>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</h4>